<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Register</title>
    <style>
      .main {
        display: block;
        text-align: center;
      }
      h2 a {
        color: rgb(55, 19, 141);
      }
    </style>
  </head>
  
  <body>
    <header class="header">
        <nav class="nav">
          <ul class="ul">
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </nav>
      </header>
      <main class="main">
            <h1> Something Wrong Happened</h1>
              <code><%= message %> </code>
            <h2><a href="/register">Register again ?</a></h2>
            <h2><a href="/login">Login ?</a></h2>
      </main>

      <footer class="footer">
        <p title="yes it is">Is it a beautiful footer ?</p>
      </footer>

  </body>
</html>
